.tac
  text-align center

.emphasize
  color #d00

.section-container
  margin 1em auto
  padding 2em
  border-radius .5em
  background-color #fff
  max-width 1080px

  > :first-child
    margin-top 0

  > :last-child
    margin-bottom 0

.button-container
  margin 1.8em auto
  width 30%
  max-width 20em
  min-width 14em

  button
    width 100%
    display block
    margin 0.8em 0
