.tac
  text-align center

h3
  font-size 1.2em

.emphasize
  color #d00

.section-container
  margin 1em auto
  padding 2em
  border-radius .5em
  background-color #fff
  max-width 1080px

  > :first-child
    margin-top 0

  > :last-child
    margin-bottom 0

  p, ul
    margin 0.6em 0
    line-height 1.6

  p.title
    font-weight bold

  p.list
    margin 0

    > :first-child
      display inline-block
      margin 0.6em 0

    &:first-child > *
      margin-top 0

    &:last-child > *
      margin-bottom 0

    & + p.list
      margin-top -0.6em

  ul
    padding-inline-start 1.6em
    &.inline
      display inline-block

  li
    list-style-type none
    &.inline
      display inline-block
    &.medium
      width 9em
    &.short
      width 5em

  .slot-header h3
    margin 0

  .collpase-content > :first-child
    margin-top 1em
  
  table
    max-width 100%
    border-collapse collapse
    margin 1.5rem auto 0
    text-align center

  tr
    border-top 1px solid #dfe2e5
    &:nth-child(2n)
      background-color #f6f8fa

  th, td
    border 1px solid #dfe2e5
    padding .6em 1em

.button-container
  margin 1.8em auto
  width 30%
  max-width 20em
  min-width 14em

  button
    width 100%
    display block
    margin 0.8em 0
